@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Be Vietnam Pro', sans-serif;
}

html {
  overflow-x: hidden;
}

body {
  height: auto;
  background: rgba(255, 255, 255, 0);
  overflow-x: hidden;
}

.bg__container {
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: auto;
  top: 0;
  left: 0;
  z-index: 0;
}

.bg__container img {
  position: relative;
  left: 10%;
  bottom: 50px;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: auto;
  padding: 1rem 0rem;
  background: white;
  padding-bottom: 0;
  z-index: 44;
}

.container .navbar__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: relative;
}

.container .navbar__wrapper .logo {
  height: 25px;
  width: 150px;
  position: relative;
  cursor: pointer;
  margin-left: 1.4rem;
}

.container .navbar__wrapper .logo img {
  height: 25px;
  width: 150px;
}

.container .navbar__wrapper .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 1.3rem;
  background: white;
  padding: 1rem 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  border-radius: 10px;
  top: 3rem;
  right: 30px;
  width: 80%;
  height: 250px;
  -webkit-transform: translateY(-1000px);
          transform: translateY(-1000px);
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
  z-index: 444;
}

.container .navbar__wrapper .navbar.show {
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

.container .navbar__wrapper .navbar .nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  list-style: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container .navbar__wrapper .navbar .nav__list .list__item {
  margin: 10px 0;
}

.container .navbar__wrapper .navbar .nav__list .list__item .list__link {
  text-decoration: none;
  color: black;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
  font-weight: 500;
  font-size: 1.1rem;
}

.container .navbar__wrapper .navbar .nav__list .list__item .list__link:hover {
  color: #f08b51;
}

.container .navbar__wrapper .menu__btn {
  position: fixed;
  right: 30px;
}

.container .navbar__wrapper .menu__btn i {
  font-size: 1.3rem;
  color: #1a1818;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
  cursor: pointer;
}

.container .navbar__wrapper .btn {
  visibility: hidden;
}

.container .section__one {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 3rem;
  padding: 1rem 1rem;
  z-index: 44;
}

.container .section__one .svg__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: 380px;
  height: 310px;
}

.container .section__one .svg__wrapper img {
  position: absolute;
  width: 100%;
  height: 100%;
}

.container .section__one .description__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin-top: 2rem;
}

.container .section__one .description__wrapper .heading {
  font-size: 2.5rem;
  padding: 0 0.8rem;
}

.container .section__one .description__wrapper .description {
  font-size: 1.2rem;
  margin-top: 1rem;
  color: #6b6866;
  padding: 0 1rem;
}

.container .section__one .description__wrapper .btn {
  margin-top: 1rem;
  text-decoration: none;
  background: #f25f3a;
  padding: 1rem 1.5rem;
  border-radius: 30px;
  color: white;
  font-size: 1.2rem;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
}

.container .section__one .description__wrapper .btn:hover {
  background: #ec8549;
}

.container .section__two {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 1rem;
  padding: 1rem 1rem;
}

.container .section__two .description__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin-top: 2rem;
}

.container .section__two .description__wrapper .heading {
  font-size: 2.5rem;
  padding: 0 0.8rem;
}

.container .section__two .description__wrapper .description {
  font-size: 1.2rem;
  margin-top: 1rem;
  color: #6b6866;
  padding: 0 1rem;
}

.container .section__two .description__wrapper .btn {
  margin-top: 1rem;
  text-decoration: none;
  background: #f25f3a;
  padding: 1rem 1.5rem;
  border-radius: 30px;
  color: white;
  font-size: 1.2rem;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
}

.container .section__two .description__wrapper .btn:hover {
  background: #ec8549;
}

.container .section__two .info__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 2rem;
  padding: 1rem 1rem;
}

.container .section__two .info__wrapper .card__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container .section__two .info__wrapper .card__wrapper .info__title {
  background: #f59f8a;
  padding: .4rem 0rem;
  border-radius: 30px 10px 10px 30px;
}

.container .section__two .info__wrapper .card__wrapper .info__title .title {
  font-size: 1rem;
}

.container .section__two .info__wrapper .card__wrapper .info__title .title .number {
  background: #f25f3a;
  padding: .4rem 1.2rem;
  border-radius: 30px;
  margin-right: 1rem;
}

.container .section__two .info__wrapper .card__wrapper .info__description {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.container .section__two .info__wrapper .card__wrapper .info__description p {
  font-size: .8rem;
  color: #7c7878;
  line-height: 1.4;
}

.container .section__three {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: .5rem 1.5rem;
}

.container .section__three .heading {
  font-size: 2.2rem;
  padding: 0 0.8rem;
}

.container .section__three .profile__inner {
  overflow-x: hidden;
  margin-top: 2rem;
}

.container .section__three .profile__inner .profile__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}

.container .section__three .profile__inner .profile__item .profile__wrapper {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 90%;
  margin: 2.2rem 5% 0;
  background: #f5b6b6;
  border-radius: 10px;
  position: relative;
  padding: 55px 1em 1em;
}

.container .section__three .profile__inner .profile__item .profile__wrapper .profile__img {
  position: absolute;
  width: 70px;
  height: 70px;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.container .section__three .profile__inner .profile__item .profile__wrapper .profile__img img {
  width: 100%;
  height: 100%;
}

.container .section__three .profile__inner .profile__item .profile__wrapper .profile__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.container .section__three .profile__inner .profile__item .profile__wrapper .profile__info h2 {
  margin: 1rem 0;
}

.container .section__three .profile__inner .profile__item .profile__wrapper .profile__info p {
  font-size: .8rem;
  color: #575454;
}

.container .section__three .link__circle__wrapper {
  margin-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .section__three .link__circle__wrapper .circle {
  border: 2px solid #f25f3a;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  cursor: pointer;
  -webkit-transition: all .4s ease-in;
  transition: all .4s ease-in;
  margin: 0 5px;
  outline: none;
}

.container .section__three .link__circle__wrapper .circle.active {
  border: 2px solid rgba(242, 95, 58, 0);
  background: #f25f3a;
}

.container .section__three .btn {
  margin-top: 1rem;
  text-decoration: none;
  background: #f25f3a;
  padding: .7rem 1.5rem;
  border-radius: 30px;
  color: white;
  font-size: 1rem;
  -webkit-transition: all .5s ease-in;
  transition: all .5s ease-in;
}

.container .section__three .btn:hover {
  background: #ec8549;
}

.container .section__four {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: url("images/bg-simplify-section-mobile.svg") no-repeat, #f25f3a;
  padding: 2rem 4rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 2rem;
}

.container .section__four .heading {
  font-size: 2rem;
  color: white;
  text-align: center;
}

.container .section__four .btn {
  margin-top: 2rem;
  text-decoration: none;
  background: white;
  color: #f25f3a;
  padding: .6rem 2rem;
  border-radius: 30px;
  -webkit-transition: all .4s ease-in;
  transition: all .4s ease-in;
}

.container .section__four .btn:hover {
  background: #b6b3b3;
  color: #eb785c;
}

.container .footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  place-items: center;
  padding: 2rem 2rem;
  background: #1d1e25;
  gap: 1rem;
}

.container .footer .input__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container .footer .input__wrapper .input__error {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container .footer .input__wrapper .input__error input[type=email] {
  border: none;
  outline: none;
  border-radius: 20px;
  padding: .2rem 1rem;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
  border: 2px solid transparent;
}

.container .footer .input__wrapper .input__error input[type=email]:focus {
  border: 1px solid #e97957;
}

.container .footer .input__wrapper .input__error .error {
  color: #eb785c;
  font-size: .8rem;
  margin-top: .4rem;
  text-align: center;
  opacity: 0;
  -webkit-transition: opacity .5s ease-in;
  transition: opacity .5s ease-in;
}

.container .footer .input__wrapper .input__error .error.active {
  opacity: 1;
}

.container .footer .input__wrapper .btn {
  text-decoration: none;
  margin-left: .8rem;
  background: #f25f3a;
  color: white;
  padding: .3rem 1.4rem;
  border-radius: 20px;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
  margin-bottom: 1.2rem;
}

.container .footer .input__wrapper .btn:hover {
  background: #eb785c;
  color: white;
}

.container .footer .footer__link__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 1rem;
}

.container .footer .footer__link__wrapper .first__link__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 3rem;
}

.container .footer .footer__link__wrapper .first__link__wrapper a {
  text-decoration: none;
  font-size: .8rem;
  color: white;
  font-weight: 400;
  margin: 5px 0;
  -webkit-transition: all .4s ease-in;
  transition: all .4s ease-in;
}

.container .footer .footer__link__wrapper .first__link__wrapper a:hover {
  color: #f25f3a;
}

.container .footer .footer__link__wrapper .second__link__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 2rem;
}

.container .footer .footer__link__wrapper .second__link__wrapper a {
  text-decoration: none;
  color: white;
  font-size: .8rem;
  font-weight: lighter;
  margin: 5px 0;
  -webkit-transition: all .4s ease-in;
  transition: all .4s ease-in;
}

.container .footer .footer__link__wrapper .second__link__wrapper a:hover {
  color: #f25f3a;
}

.container .footer .brand__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 2rem;
  margin-top: 1rem;
}

.container .footer .brand__wrapper i {
  font-size: 1.5rem;
  color: white;
  -webkit-transition: all .5s ease-in;
  transition: all .5s ease-in;
  cursor: pointer;
}

.container .footer .brand__wrapper i:hover {
  color: #f25f3a;
}

.container .footer .footer__logo__wrapper {
  margin-top: 1rem;
}

.container .footer .copyright {
  color: #a8a7a7;
  font-weight: lighter;
}

@media (min-width: 1200px) {
  .bg__container {
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: auto;
    top: 0;
    right: 0;
    left: 0%;
    z-index: 0;
  }
  .bg__container img {
    position: relative;
    left: 70%;
    bottom: 50px;
  }
  .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: auto;
    padding: 1rem 0rem;
    background: #f6f5f4;
    padding-bottom: 0;
    width: 100vw;
    z-index: 44;
  }
  .container .navbar__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    position: relative;
  }
  .container .navbar__wrapper .logo {
    height: 25px;
    width: 150px;
    position: relative;
    cursor: pointer;
    margin-left: 5rem;
  }
  .container .navbar__wrapper .logo img {
    height: 25px;
    width: 150px;
  }
  .container .navbar__wrapper .navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-left: 1.3rem;
    background: rgba(236, 85, 85, 0);
    padding: 0rem 1rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: absolute;
    border-radius: 10px;
    top: 0rem;
    right: 18%;
    width: 50%;
    height: auto;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
    z-index: 444;
  }
  .container .navbar__wrapper .navbar .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    list-style: none;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .container .navbar__wrapper .navbar .nav__list .list__item {
    margin: 0px 20px;
  }
  .container .navbar__wrapper .navbar .nav__list .list__item .list__link {
    text-decoration: none;
    color: black;
    -webkit-transition: all .4s ease-in;
    transition: all .4s ease-in;
    font-weight: 500;
    font-size: 1rem;
  }
  .container .navbar__wrapper .navbar .nav__list .list__item .list__link:hover {
    color: #f08b51;
  }
  .container .navbar__wrapper .menu__btn {
    position: fixed;
    right: 30px;
    visibility: hidden;
  }
  .container .navbar__wrapper .btn {
    visibility: visible;
    position: relative;
    text-decoration: none;
    left: 65%;
    background: #eb785c;
    padding: .5rem 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: white;
    border-radius: 30px;
    -webkit-transition: all .4s ease-in;
    transition: all .4s ease-in;
    bottom: 0;
  }
  .container .navbar__wrapper .btn:hover {
    background: #f3bd6d;
    color: #dbd8d8;
  }
  .container .section__one {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-align: initial;
        -ms-flex-align: initial;
            align-items: initial;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 3rem;
    padding: 1rem 1rem;
    gap: 1rem;
    z-index: 444;
  }
  .container .section__one .svg__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    width: 680px;
    height: 410px;
    background: rgba(236, 20, 20, 0);
  }
  .container .section__one .svg__wrapper img {
    position: absolute;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .container .section__one .description__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: initial;
        -ms-flex-align: initial;
            align-items: initial;
    text-align: left;
    margin-top: 0rem;
    width: 50%;
    background: rgba(0, 0, 255, 0);
    height: 410px;
    padding: 0 6rem;
  }
  .container .section__one .description__wrapper .heading {
    font-size: 2.3rem;
    padding: 0 0.8rem;
  }
  .container .section__one .description__wrapper .description {
    font-size: 1rem;
    margin-top: 1rem;
    color: #6b6866;
    padding: 0 1rem;
  }
  .container .section__one .description__wrapper .btn {
    margin-top: 2rem;
    text-decoration: none;
    background: #f25f3a;
    padding: 1rem 1rem;
    border-radius: 30px;
    color: white;
    font-size: 1.2rem;
    -webkit-transition: all .5s ease-in;
    transition: all .5s ease-in;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 150px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .container .section__one .description__wrapper .btn:hover {
    background: #ec8549;
  }
  .container .section__two {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: initial;
        -ms-flex-align: initial;
            align-items: initial;
    margin-top: 1rem;
    padding: 1rem 1rem;
    gap: 1rem;
    z-index: 444;
  }
  .container .section__two .description__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: initial;
        -ms-flex-pack: initial;
            justify-content: initial;
    -webkit-box-align: initial;
        -ms-flex-align: initial;
            align-items: initial;
    text-align: left;
    margin-top: 2rem;
    background: rgba(238, 235, 236, 0);
    padding: 1rem 3rem;
    width: 50%;
    margin-left: 3.5rem;
  }
  .container .section__two .description__wrapper .heading {
    font-size: 2rem;
    padding: 0 0.8rem;
    margin-left: 2rem;
  }
  .container .section__two .description__wrapper .description {
    font-size: 1.1rem;
    margin-top: 1rem;
    color: #6b6866;
    padding: 0 1rem;
    margin-left: 1.8rem;
  }
  .container .section__two .info__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 2rem;
    padding: 1rem 8rem;
    background: rgba(0, 0, 255, 0);
    width: 60%;
  }
  .container .section__two .info__wrapper .card__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .container .section__two .info__wrapper .card__wrapper .info__title {
    background: rgba(245, 159, 138, 0);
    padding: .4rem 0rem;
    border-radius: 30px 10px 10px 30px;
  }
  .container .section__two .info__wrapper .card__wrapper .info__title .title {
    font-size: 1rem;
  }
  .container .section__two .info__wrapper .card__wrapper .info__title .title .number {
    background: #f25f3a;
    padding: .4rem 1.2rem;
    border-radius: 30px;
    margin-right: 1rem;
  }
  .container .section__two .info__wrapper .card__wrapper .info__description {
    margin-top: .5rem;
    margin-bottom: 1rem;
    text-align: left;
    margin-left: 4.8rem;
  }
  .container .section__two .info__wrapper .card__wrapper .info__description p {
    font-size: .8rem;
    color: #7c7878;
    line-height: 1.4;
  }
  .container .section__three {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: .5rem 1.5rem;
    margin-top: 2rem;
  }
  .container .section__three .heading {
    font-size: 2.2rem;
    padding: 0 0.8rem;
  }
  .container .section__three .profile__inner {
    overflow-x: hidden;
    margin-top: 2rem;
    background: rgba(255, 0, 0, 0);
    width: 30%;
  }
  .container .section__three .profile__inner .profile__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
  }
  .container .section__three .profile__inner .profile__item .profile__wrapper {
    -ms-flex-negative: 0;
        flex-shrink: 0;
    width: 90%;
    margin: 2.2rem 5% 0;
    background: #f5b6b6;
    border-radius: 10px;
    position: relative;
    padding: 55px 1em 1em;
    height: 200px;
  }
  .container .section__three .profile__inner .profile__item .profile__wrapper .profile__img {
    position: absolute;
    width: 70px;
    height: 70px;
    top: 0;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  .container .section__three .profile__inner .profile__item .profile__wrapper .profile__img img {
    width: 100%;
    height: 100%;
  }
  .container .section__three .profile__inner .profile__item .profile__wrapper .profile__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .container .section__three .profile__inner .profile__item .profile__wrapper .profile__info h2 {
    margin: 1rem 0;
  }
  .container .section__three .profile__inner .profile__item .profile__wrapper .profile__info p {
    font-size: .8rem;
    color: #575454;
  }
  .container .section__four {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    background: url("images/bg-simplify-section-desktop.svg") no-repeat, #f25f3a;
    padding: 2rem 4rem;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 2rem;
    height: 300px;
    gap: 2rem;
  }
  .container .section__four .heading {
    font-size: 2.2rem;
    color: white;
    text-align: left;
    width: 500px;
  }
  .container .section__four .btn {
    margin-top: 0rem;
    text-decoration: none;
    background: white;
    color: #f25f3a;
    padding: .6rem 2rem;
    border-radius: 30px;
    -webkit-transition: all .4s ease-in;
    transition: all .4s ease-in;
  }
  .container .section__four .btn:hover {
    background: #f3335d;
    color: #151414;
  }
  .container .footer {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    place-items: center;
    padding: 1rem 1rem;
    background: #1d1e25;
    gap: 1rem;
  }
  .container .footer .input__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .container .footer .input__wrapper .input__error {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .container .footer .input__wrapper .input__error input[type=email] {
    border: none;
    outline: none;
    border-radius: 20px;
    padding: .2rem 1rem;
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
    border: 2px solid transparent;
  }
  .container .footer .input__wrapper .input__error input[type=email]:focus {
    border: 1px solid #e97957;
  }
  .container .footer .input__wrapper .input__error .error {
    color: #eb785c;
    font-size: .8rem;
    margin-top: .4rem;
    text-align: center;
    opacity: 0;
    -webkit-transition: opacity .5s ease-in;
    transition: opacity .5s ease-in;
  }
  .container .footer .input__wrapper .input__error .error.active {
    opacity: 1;
  }
  .container .footer .input__wrapper .btn {
    text-decoration: none;
    margin-left: .8rem;
    background: #f25f3a;
    color: white;
    padding: .3rem 1.4rem;
    border-radius: 20px;
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
    margin-bottom: 1.2rem;
  }
  .container .footer .input__wrapper .btn:hover {
    background: #eb785c;
    color: white;
  }
  .container .footer .footer__link__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 1rem;
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-column: 2/4;
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1/3;
  }
  .container .footer .footer__link__wrapper .first__link__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-right: 3rem;
  }
  .container .footer .footer__link__wrapper .first__link__wrapper a {
    text-decoration: none;
    font-size: .8rem;
    color: white;
    font-weight: 400;
    margin: 5px 0;
    -webkit-transition: all .4s ease-in;
    transition: all .4s ease-in;
  }
  .container .footer .footer__link__wrapper .first__link__wrapper a:hover {
    color: #f25f3a;
  }
  .container .footer .footer__link__wrapper .second__link__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: 2rem;
  }
  .container .footer .footer__link__wrapper .second__link__wrapper a {
    text-decoration: none;
    color: white;
    font-size: .8rem;
    font-weight: lighter;
    margin: 5px 0;
    -webkit-transition: all .4s ease-in;
    transition: all .4s ease-in;
  }
  .container .footer .footer__link__wrapper .second__link__wrapper a:hover {
    color: #f25f3a;
  }
  .container .footer .brand__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 2rem;
    margin-top: 1rem;
  }
  .container .footer .brand__wrapper i {
    font-size: 1.5rem;
    color: white;
    -webkit-transition: all .5s ease-in;
    transition: all .5s ease-in;
    cursor: pointer;
  }
  .container .footer .brand__wrapper i:hover {
    color: #f25f3a;
  }
  .container .footer .footer__logo__wrapper {
    margin-top: 1rem;
    -ms-grid-column: 1;
    grid-column: 1/1;
    -ms-grid-row: 1;
    grid-row: 1/1;
  }
  .container .footer .copyright {
    color: #a8a7a7;
    font-weight: lighter;
  }
}
/*# sourceMappingURL=style.css.map */